.banner {
    padding: 130px 0 172px 0;

    &__container {
        display: flex;

    }

    &__title {
        font-weight: 600;
        font-size: 65px;
        line-height: 70px;
        max-width: 552px;
        margin-bottom: 50px;
    }

    &__description {
        font-size: 25px;
        line-height: 35px;
        max-width: 470px;
        margin-bottom: 50px;
    }

    &__image {
        align-self: center;
        max-width: 750px;
    }

    &__controls {
        display: flex;
        margin-bottom: 24px;

        .button {
            display: block;
            width: 160px;
            text-align: center;
            
            &:not(:first-of-type) {
                margin-left: 10px;
            }
        }
    }

    &__note {
        font-size: 15px;
        line-height: 25px;
    }

    @media (max-width: 1290px) {
        &__info {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            align-items: center;
            text-align: center;
        }

        &__image {
            width: 100%;
            margin-top: 16px;
        }

    }

    @media (max-width: 768px) {
        padding: 50px 0 70px 0;

        &__title {
            font-size: 50px;
            line-height: 60px;
        }

        &__description {
            font-size: 22px;
            line-height: 32px;
        }

        &__controls {
            flex-direction: column;
            max-width: 350px;
            text-align: center;
            align-items: center;
            width: 100%;

            .button {
                width: 100%;

                &:not(:first-of-type) {
                    margin-top: 16px;
                    margin-left: 0;
                }
            }
        }
    }
}
