.benefits {
    padding: 90px 0 150px 0;

    &__item {
        display: flex;
        margin-bottom: 250px;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    &__item-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__item-title {
        font-weight: 600;
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 30px;
    }
    
    &__item-description {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    &__item-description-link {
        color: #000;
    }

    &__item-link {
        text-decoration: none;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #000;
    }

    &__item-info,
    &__item-image {
        &:last-child {
            margin-left: 138px;
        }
    }
}
