.header {
    padding: 25px 25px;
    border-bottom: 1px solid #CCCCCC;
    
    &__container {
        display: flex;
        align-items: center;
    }

    &__navigation {
        margin-left: 50px;
    }

    &__navigation-list {
        display: flex;
    }

    &__navigation-item {
        margin-left: 52px;

        &:first-child {
            margin-left: 0;
        }
    }

    &__navigation-link {
        text-decoration: none;
        font-size: 15px;
        line-height: 20px;
        color: #000;
    }

    &__controls {
        display: flex;
        margin-left: auto;
        

        .button {
            display: block;

            &:not(:first-of-type) {
                margin-left: 10px;
            }
        }
    }

    @media (max-width: 1290px) { 
        &__navigation {
            margin-left: auto;
            padding: 16px;
        }

        &__navigation-item {
            margin-left: 20px;
        }

        &__controls {
            margin-right: auto;
        }
    }

    @media (max-width: 768px) {
        &__container {
            flex-direction: column;
            align-items: center;
            padding: 0;
        }
        
        &__navigation {
            margin: 0 auto;
        }

        &__navigation-list {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__navigation-item {
            margin-top: 20px;
        }

        &__controls {
            flex-direction: column;
            width: 100%;
            text-align: center;
            max-width: 350px;

            .button {
                &:not(:first-of-type) {
                    margin-top: 16px;
                    margin-left: 0;
                }
            }
        }
    }
}
