.rate {
    padding: 88px 0;
    background-color: #DABC98;

    &__container {
        display: flex;
        align-items: center;
    }

    &__title {
        font-weight: 600;
        font-size: 35px;
        line-height: 50px;
        margin-left: 56px;
    }

    &__company {
        padding: 30px 0 0 70px;
        border-left: 1px solid #000;
        height: 176px;

        &:last-child {
            border: none;
        }
    }

    &__company-logo {
        margin-bottom: 20px;
    }

    &__company-rate-level {
        margin-bottom: 14px;
    }
}
